<center>
<div class="page-header" style="max-width: 400px">
    <h1> <font size=7 color="#080228"> Mitch <br><small><font color="#080228">post and share great music</small></font></font></h1><br>
    <%= link_to "new song", new_song_path, class: "btn btn-primary btn-lg"%>
</div>


<h4> <font color="#fff">Latest songs</font></h4>
<br>
<div class="list-group" style="max-width: 600px">
  <% @latest_songs.each do |song| %> 
    <%= link_to "#{song.title} - #{song.artist}", song, class: "list-group-item" %>
  <% end %>
</div>
</center>