<p id="notice"><%= notice %></p>
<center>
<h1>Rap songs</h1>

<h4>post and share your favorite music!</h4>
<br>
<div class="list-group" style="max-width: 600px">
  <% @rap_songs.each do |song| %>
    <%= link_to "#{song.title} - #{song.artist}", song, class: "list-group-item" %>
  <% end %>
</div>
</center>